.nav{
    position: fixed;
    top: 0;
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    background-color: #111;   
    height: 10px;
    z-index: 100;
}
  
.nav__logo{
    object-fit: contain;
    width: 90px;
    position: fixed;
    left: 20px;
}
.nav__avatar{
    width: 30px;
    object-fit: contain;
    position: fixed;
    right: 20px;

}